@charset "UTF-8";
/* css document */
@font-face{ /* 字體下載 */
        font-family: AA ;src:url(https://fonts.googleapis.com/css?family=Baloo+Bhai|Noto+Sans+TC|Oswald&display=swap);
        }
body	{ margin: 0 ; font-size: 16px;
          background-color:lightgray;
          /*background-image: url(../img/home-bg.jpg);*/
          background-attachment: fixed;
          background: linear-gradient(-10deg,gray 0%,lawngreen 50%,red 90%);
        }
#banner { clear: both; margin: 0 auto; width: 82%; height: 200px; /*border: 3px solid blue;*/
          position: relative; top: 0px; left: 0px;
          background-image: url(../pic/about-header.jpg);
          background-position: 100% center;
          background-repeat: no-repeat;
          background-size : cover;
          opacity: 1;
        }
#sitem  { margin-top:1.5%;margin-left:5%;float:left; width: 82%;text-align:center;
          color: darkblue; font-size: 1.8vw; font-weight: bolder;
          text-shadow:1px 2px 2px chartreuse;
        }
#nav    { position: absolute; bottom: 5%; right: 2%; width:auto;
          /*position: fixed; bottom: 0px; right: 0px;
          margin-top: 1%; margin-right: 2%; float: right;*/
          color:darkblue; font-size: 2.3vw; font-weight: bolder;
          border-left: 10px solid darkblue;border-right: 10px solid darkblue;
          text-shadow:1px 2px 2px cyan;text-align:right;
        }
#nav a,#sitem div.service-item a
        { color:darkblue;
          text-decoration: none; text-shadow: 1px 2px 2px chartreuse;
          font-weight: bolder;font-size: 1.0em; font-variant: small-caps;
          /*font-family: 'Noto Sans TC','Oswald',AA, sans-serif;
          font-family: 'Baloo Bhai', cursive;*/
          background-color: thistle;border: 1px solid black;
          box-shadow: -2px 2px 1px cyan;transition: 1s ease;
          -webkit-transition: 1s ease;
          -moz-transition: 1s ease;
          -o-transition: 1s ease;
        }
#nav a:hover,#sitem div.service-item a:hover
        { background-color: brown; border: 2px solid yellow; color: white;
         text-decoration: underline;}
#logo-text{
     /*position: absolute; left: auto; top: 200px; right: 300px;*/
     margin-top: 0%; margin-left: 2%; float: left;
     color: cyan;
     font-variant: small-caps;font-size: 4vw;/*text-transform: uppercase;*/
     text-shadow: 2px 15px 3px blue,
                  10px 18px 3px yellow,                  
                  20px 20px 3px darkred;
}
#service {
    margin: -10px auto; width: 78%; height: auto;
    /*border: 2px solid greenyellow;
    background-color: brown;*/
}
div .service-item {
    width: 31%; height: auto; margin: 2px 1px; float:left; padding: 0px;
    background-color: lightyellow; border: 1x solid darkred;
    background: repeating-radial-gradient(farthest-side ellipse at 70% 50%,#F00 40%,#FF0 100%);    
    /*display: inline-block;*/
}
#service div h1{
  margin-top: -5px;
  font-size: 1.6vw;
  text-align: center;
  line-height: 30px;
  background-color: gray;
}
#service div p{
  font-size: 1.4vw;
  color: #333;
  font-family: 'Noto Sans TC','Oswald', sans-serif;
  text-align: justify;
  text-indent: 2em;
  padding: 0px 8px;
  margin-top: -5px;
}
#service div:nth-child(2),#service div:nth-child(3) {
  margin-left: 2.5%;
}
#service div img {
  width: 100%; height: auto; margin: auto;/*border: 2px solid gray;*/
  box-shadow: 0px 0px 2px 2px rgb(148, 235, 241),
              1px -3px 2px 2px brown,
              2px -2px 6px 2px yellow;
      
}
.service-item p a {
  color: darkred; width: fit-content;
  font-size: 12px;  line-height: 18px;
  text-decoration: none;
  border-bottom: 2px double red;
  border-radius: 9px;
  background-color: lightblue;
  overflow: hidden;
}
.service-item p a:hover {
  font-weight: bolder;
  border: 2px solid orange;  
}
.service-item p a:visited {
  color: gray ;
}
.service-item p a:active {
  background-color: gold;
  border: 2px solid blue;
}
#context {
  clear: both; margin: auto; width: 80%; height: auto;
   background-color: cadetblue; /*border: 1px solid greenyellow;*/
   font-size: 1.5vw;
   /*text-align: justify;*/   
   padding: 0px 8px;
   margin-top: -5px;
   /*columns: auto 2;*/
   column-count: 3;
   column-gap: 3%;
   column-rule: 2px dotted white;
   /*background: -webkit-gradient(linear, left top, right top,from(brown),to(pink),color-stop(50%,blue));*/
   background: -webkit-gradient(radial,50% 50%,20,50% 50%,400,from(gold),to(pink),color-stop(50%,blue));
}
#context img {
   width: 20px; height: auto;
   vertical-align: baseline;
}
i.fas {
 color: red;
 font-size: 2vw;
 /*display: block;  visibility: hidden;
 float: left;  */
}
#context p{
  font-family: 'Courier New', Courier, monospace;
  /* text-indent: 2em; */
  font-size: 1.2vw;
  color:lightyellow;
}
#context h1+p:first-letter {
  color: sandybrown; font-size: 40px; float: left;
  display:inline-block;margin-right: 8px;
  content: url("../pic/0.gif");
}
#context p:first-line {
  color: yellowgreen; 
}
#context h1:before  {
  content:counter(h1_counter,upper-roman)". ";
}
#context h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4vw; font-weight: bolder;
  color: brown;
  background-color:lawngreen;
  column-span: all;
  counter-increment: h1_counter 1;
}
#context h1:after{
   content: '§';
}
#context h1~h1{
  background-color: transparent;
  column-span: none;
}
#context h1:nth-of-type(3){
  /* break-before: column; */
  counter-reset:  h1_counter 0;
}